@import url(https://fonts.google.com/selection/embed);

* {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: linear-gradient(to right, #222020 , #1f1d1d , #141313);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    /* garante que o corpo ocupe a altura total da janela do navegador*/
    margin: 0;
}

span {
    color: rgb(84, 90, 78);
    font-weight: bold;
    font-size: 170px;
    cursor: context-menu;
    font-style: italic;
}